.container {
  width: 650px;
  padding: 20px 0;
  border: 1px solid gray;
  margin: 30px auto;
}

.square {
  background-color: white;
  border: 1px solid gray;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.square:focus {
  outline: none;
}
.square:hover {
  background: lightgray;
}

h1 {
  text-align: center;
}

.board-box {
  width: 244px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;
}

.board-row:after {
  display: table;
}

h3 {
  text-align: center;
}

.form-block {
  width: 300px;
  margin: 0 auto 20px auto;
}
.form-block input {
  height: 34px;
  width: 140px;
  padding-left: 10px;
  font-size: 20px;
}
.form-block button {
  width: 100px;
  height: 38px;
  cursor: pointer;
  background: pink;
  outline: none;
  border: 1px solid gray;
}

.name-block {
  margin: 0 0 60px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 260px;
}

.name-block button {
  height: 48px;
  outline: none;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid green;
}

.start-block {
  width: 150px;
  margin: 30px auto 0 auto;
}
.start-block button {
  width: 100%;
  height: 48px;
  outline: none;
  border-radius: 30px;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid goldenrod;
  cursor: pointer;
}
#changeBtn {
  height: 46px;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid goldenrod;
  cursor: pointer;
}

#winnerBtn {
  margin: 20px 0 40px 175px;
  font-size: 26px;
  font-weight: bold;
  border: gray;
  background: rgb(223, 108, 238);
  color: white;
  padding: 20px;
  width: 300px;
}
